:root {
    --font-title: ;
    --font-text: ;
    --font-subtitle: ;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "nav main";
    justify-self: center;
    align-self: center;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.3;
    font-size: 18px;
}

#navbar {
    grid-area: nav;
    position: fixed;
    top: 0;
    left: 0;
    width: 23%;
    height: 100vh;
    border-right: 3px solid #3c6e71;
}

p, li {
    color: hsl(0, 0%, 30%);
}

#navbar header {
    text-align: center;
    border-bottom: 3px solid #3c6e71;
}

#navbar ul {
    margin: 0;
    height: 85%;
    padding: 0;
    text-align: start;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1;
}

#navbar li {
    height: auto;
    list-style: none;
    border-top: 1px solid black;
    box-sizing: border-box;
}

.nav-link {
    padding: 10px;
    display: block;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#main-doc {
    grid-area: main;
    margin-top: 30px;
    padding: 0px 30px;
    width: 90%;
    
}

code {
    background-color: #F6F6F6;
    width: 85%;
    max-height: 150px;
    display: block;
    padding: 10px;
    border-radius: 5px;
}

@media (max-width: 720px) {
    body {
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: "nav" 
        "main";
        font-size: 18px;
    }

    #navbar {
        position: relative;
        top: 0;
        width: 100vw;
        height: auto;
        border-right: 0;
    }

    #navbar ul {
        height: 250px;
    }

    #main-doc {
        border-top: 3px solid #3c6e71;
        padding: 0px 15px;
}