:root {
    --first-color: #EFE5D8;
    --second-color: #E0133D;
    --third-color: #747774;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--first-color);
}

#navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 480px;
    height: auto;
    margin: 10px auto;
}

#navbar ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

#navbar li {
    list-style: none;
    background-color: var(--second-color);
    width: 120px;
    height: auto;
    text-align: center;
    
}

#navbar li:hover {
    background: var(--third-color);
}

#navbar a {
    color: var(--first-color);
    display: block;
    padding: 10px;
    text-decoration: none;
    font-weight: 700;
}

main {
    height: 100vh;
    width: auto;
}

#circle {
    position: absolute;
    top: -200px;
    left: -200px;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    background-color: var(--third-color);
    z-index: -2;
}

#welcome {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -40%;
    margin: auto;
    width: 500px;
    height: 500px;
    background-color: var(--second-color);
    transform: rotate(45deg);
}

#welcome-inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 350px;
    height: 125px;
    transform: rotate(-45deg);
    text-align: center;
    z-index: 5;
    color: var(--first-color);
}

#retangulo {
    width: 300px;
    height: 170px;
    background-color: var(--third-color);
    z-index: 6;
    position: absolute;
    top: 70px;
    right: 0;
    bottom: 0;
    left: 85px;
    margin: auto;
    transform: rotate(-35deg);
}

#triangulo {
    width: 0;
    height: 0;
    border-bottom: 150px solid var(--third-color);
    border-left: 85px solid transparent;
    border-right: 85px solid transparent;
    z-index: 7;
    position: absolute;
    right: 60px;
    bottom: 50px;
    margin: auto;
    transform: rotate(-170deg);
}

#circle-small {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--second-color);
    margin: auto;
    position: absolute;
    right: 150px;
    top: 150px;
    z-index: 8;
}

/*breakpoint*/

@media (max-width: 720px) {
    #navbar {
        transform: scale(0.8s);
        top:0;
        left: 0;
        right: 0;
        width: 400px;
    }
}